<nav class="navbar bg-primary shadow" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Redux and Angular</span>
  </div>
</nav>

<div class="container-fluid">
  <div class="d-flex flex-row justify-content-center align-items-center" style="height: calc(100vh - 55px);">
    <div style="width: 250px;" class="d-flex flex-row justify-content-center align-items-center border p-2 shadow-sm m-2">
      <button class="mx-2 fw-bold btn btn-primary" style="font-size: 30px;width: 50px;" (click)="decrement()">
        -
      </button>
      <h1 class="m-0 text-primary" style="width: 150px;text-align: center;padding: 0px 10px;">{{ counter$ | async | number }}</h1>
      <button class="mx-2 fw-bold btn btn-primary" style="font-size: 30px;width: 50px;" (click)="increment()">
        <h1 class="p-0 m-0">+</h1>
      </button>
    </div>
  </div>

  <!-- <div>
    <button (click)="decrement()">-</button>
    <span>{{ counter$ | async }}</span>
    <button (click)="increment()">+</button>
  </div> -->

</div>
